// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: #073642;
$fg_color: #839496;
$base_color: #002b36;
$text_color: #839496;
$selected_bg_color: #657b83;
$selected_fg_color: #fdf6e3;
$tooltip_bg_color: #002b36;
$tooltip_fg_color: #eee8d5;

// dark colors
$dark_bg_color: $bg_color;
$dark_fg_color: $fg_color;

// shadows
$dark_shadow: #fff;
$light_shadow: #000;

// white and black
$black: #000;
$white: #fff;

// misc colors used by gtk+
$info_fg_color: rgb(38, 110, 210);
$info_bg_color: rgb(217, 237, 247);
$warning_fg_color: rgb(181, 137, 0);
$warning_bg_color: rgb(252, 248, 227);
$question_fg_color: rgb(203, 75, 22);
$question_bg_color: rgb(252, 229, 213);
$error_fg_color: rgb(220, 50, 47);
$error_bg_color: rgb(242, 222, 222);
$link_color: #d33682;
$success_color: #859900;
$warning_color: #cb4b16;
$error_color: #dc322f;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, .1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, .4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 2px;
$spacing: 5px;
$gradient: 0;
$contrast: .8;
